<% img_src= "https://www.midwestradio.ie/images/rocketlauncher/pages/offline-page/img-01.jpg" unless img %>
<div class="card-wrapper">
  <img src=<%= img_src %> alt="img-icon" class="img-cat-trans">
  <div class="general-data">
    <h2 class="card-title"><%= title %> </h2>
    <span class="creation-date"><%= date %> </span>
  </div>
  <p class="amount-value">$<%= amount %> </p>
</div>