@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('Proxima Nova Light.otf');
}

.all-categories {
  width: 100%;
  height: 450px;
  overflow: scroll;
}

.buttn-wrapper {
  width: 90%;
  height: 12vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5fb523;
}

.add-btn  {
  
  color: white;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  background-color: #5fb523;
  height: 6.7vh;
  width: 100%;
  border: none;
  text-align: center;
}

.buttn-wrapper form {
  width: 90%;
  margin-left: 5%;
  background-color: #5fb523;
  border: 2px solid white;
  border-radius: 2.5px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.no-data {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #434b54;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  transform: rotate(-90deg);
  vertical-align: middle;
  margin-top: 200px;
  font-weight: 650;
  font-size: 22px;
}

body {
  background-color: rgb(243, 242, 241);
}

.operation-title {
  margin-top: 3vh;
  margin-bottom: 2vh;
  text-align: center;
}

.input-look {
  border: none;
  border-bottom: 1px solid rgb(67, 75, 84);
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3vh;
}

.sign-up {
  width: 100%;
  height: 12vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #5fb523;
}

.sign-up-btn {
  width: 90%;
  margin-left: 5%;
  background-color: #5fb523;
  border: 2px solid white;
  border-radius: 2.5px;
  height: 9.6vh;
  margin-top: 1.2vh;
  color: white;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.form-cat {
  width: 100%;
}